.p1 {
    background-color: yellow;
    color: blue;
  }
  
  .p2 {
    background-color: green;
    color: white;
  }
  
  .p3 {
    background-color: purple;
    color: yellow;
  }
  
  .p4 {
    background-color: gray;
    color: white;
  }
  
  .p5 {
    background-color: pink;
    color: black;
  }
  
  .p6 {
    background-color: orange;
    color: white;
  }
  